# datasource
spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:alura-forum
    username: sa
    password:

# jpa
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true

# h2
  h2:
    console:
      enabled: true
      path: /h2-console

# jwt
forum:
  jwt:
    expiration: 86400000
    # dev environment (just for test)
    secret: rm'!@N=Ke!~p8VTA2ZRK~nMDQX5Uvm!m'D&]{@Vr?G;2?XhbC:Qa#9#eMLN\}x3?JR3.2zr~v)gYF^8\:8>:XfB:Ww75N/emt9Yj[bQMNCWwW\J?N,nvH.<2\.r~w]*e~vgak)X"v8H`MH/7"2E`,^k@n<vE-wD3g9JWPy;CrY*.Kd2_D])=><D?YhBaSua5hW%{2]_FVXzb9`8FH^b[X3jzVER&:jw2<=c38=>L/zBq`}C6tT*cCSVC^c]-L}&/

# actuator
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include:
          - "*"
# actuator > info
info:
  app:
    name: @project.name@
    version: @project.version@
    description: @project.description@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@